.button {
  color: #f86600;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  word-wrap: break-word;
  text-transform: uppercase;

  border-radius: 16px;
  background-color: #f8660026;
  border: none;
  padding: 2px 11px;
  cursor: pointer;
  white-space: nowrap;
}
